@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@300&display=swap');

//colors
$primary-color: #FFCF63;
$secondary-color: #FFFFFF;
$third-color: #000;

//font weights
$font-tipis: 300;
$font-sedang: 500;
$font-tebal: 800;


//card wrap
@mixin wrap($x, $y, $blur, $spread, $color){
    background: #fff;
    box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin responsive($breakpoint){
    
    @if $breakpoint == xs{
        @media screen and (max-width: 500px){@content};
    }
    @if $breakpoint == sm{
        @media screen and (max-width: 660px){@content};
    }
    @if $breakpoint == md{
        @media screen and (max-width: 910px){@content};
    }
    @if $breakpoint == lg{
        @media screen and (max-width: 1200px){@content};
    }
    @if $breakpoint == xl{
        @media screen and (max-width: 1500px){@content};
    }
}