//colors
$primary-color: #63C9FF;
$secondary-color: #999;

//font weights
$font-tipis: 300;
$font-sedang: 500;
$font-tebal: 800;


//card wrap
@mixin wrap($x, $y, $blur, $color){
    background: #fff;
    box-shadow: $x $y $blur $color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin responsive($breakpoint){
    
    @if $breakpoint == xs{
        @media screen and (max-width: 500px){@content};
    }
    @if $breakpoint == sm{
        @media screen and (max-width: 660px){@content};
    }
    @if $breakpoint == md{
        @media screen and (max-width: 910px){@content};
    }
    @if $breakpoint == lg{
        @media screen and (max-width: 1200px){@content};
    }
    @if $breakpoint == xl{
        @media screen and (max-width: 1500px){@content};
    }
}